<!DOCTYPE html>
<html>
<head>
    <title>Design</title>
<style>

body{
    width:100%;
    text-align: center;
}
div.gallery {
  margin: 10px;
  float: left;
  width: 25%;
  text-align: center;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 70%;
  height: auto;
}


h1 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

</style>
</head>
<body>

<h1>Choose a Design</h1>
<div class="gallery">
  <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/vintage_mountain_md.jpg">
    <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/vintage_mountain_md.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  
</div>

<div class="gallery">
  <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/confetti_md.jpg">
    <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/confetti_md.jpg" alt="Forest" width="600" height="400">
  </a>
  
</div>

<div class="gallery">
  <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/woodland_deer_md.jpg">
    <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/woodland_deer_md.jpg" alt="Northern Lights" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/the_ocean_md.jpg">
    <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/the_ocean_md.jpg" alt="Mountains" width="600" height="400">
  </a>
</div>

<div class="gallery">
    <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/seafoam_braid_md.jpg">
      <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/seafoam_braid_md.jpg" alt="Mountains" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/waves_md.jpg">
      <img src="https://cdn1.weddingwire.com/assets/img/wedsites/thumb/en/waves_md.jpg" alt="Mountains" width="600" height="400">
    </a>
  </div>

</div>
</body>
</html>
